set snmp name "{{ inventory_hostname }}"
set snmp description "vMX"
set snmp location "EAL Odense" contact "root@localhost"
set snmp client-list snmp-list fd00:0:3::8:0/120
set snmp community librenms client-list-name snmp-list
